<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Analysis Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link rel="apple-touch-icon" href="apple-touch-icon.png"-->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}" >
                <!--link rel="stylesheet" href="assets/css/bootstrap-theme.min.css"-->


        <!--For Plugins external css-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/plugins.css" )}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= "css/roboto-webfont.css.css"  )}}" >

        <!--Theme custom css -->

        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename= "css/style.css"  )}}">
        <!--Theme Responsive css-->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= "css/responsive.css"  )}}">

		<script type=text/javascript src="{{url_for('static',filename= 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>

    </head>


    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!-- Sections -->
        <section id="social" class="social">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                            <div class="social-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                <a href="#"><i class="fa fa-phone"></i>+254707 705 021</a>
                                <a href="#"><i class="fa fa-envelope"></i>contact@sentimentanalysis.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->
        </section>



		<!-- Sections -->
        <section id="about" class="about sections">
            <div class="container">
                <div class="row">
                    <div class="main_features_content2">

                        <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img src="{{ url_for('static', filename='images/feature-2.jpg')}}" />
                            </div>
                        </div>


						<!--"{{ url_for('static', filename="css/plugins.css" )}}"-->


                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>YOUR PRODUCT {{ data }}</h2>
                                <p>Thanks a bunch for using our services. <br/>Your product name has been received successfully.<br/>Here is the analysis:</p>
                                {% for key, value in negative_positive.iteritems() %}
                                           <tr>

                                              <th> {{ key }} </th>
                                              <td> {{ value }} </td>
                                           </tr>

                                {% endfor %}

                                <ul>
                                    The generated tweets were classified into whether the tweets are positive or negative.<br/>
                                    The shortlisted tweets are the tweets generated with a confidence level of above 70% in their respective classes.<br/>
                                    based on the statistics obtained, one can tell how the product is fairing. If the product happens to have a high positive value,<br/>
                                    then it is fairing on well in the market. Otherwise, the reason as to why the product is not fairing on well should be checked.
                                </ul>


                              {% for key, value in result.iteritems() %}
                                         <tr>

                                            <th> {{ key }} </th>
                                            <td> {{ value }} </td>
                                         </tr>

                              {% endfor %}


                                <div class="features_buttom">

                                    <input type="submit" value="Check out the graphs"
    onclick="window.location='chart';" />

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>




        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>Made with <i class="fa fa-heart"></i> by Alex, Joseph and Brian @ 2017. All rights reserved.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>


		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>


        <script type= "text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js' )}}"></script>
		<script type= "text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap.min.js' )}}"></script>

        <script type= "text/javascript" src="{{ url_for('static', filename='js/plugins.js' )}}"></script>
        <script type= "text/javascript" src= "{{ url_for('static', filename='js/modernizr.js' )}}"></script>
        <script type= "text/javascript" src="{{ url_for('static', filename='js/main.js' )}}" > </script>
    </body>
</html>
